<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:insert="~{fragments/header :: header}" />

<body>
    <div th:insert="~{fragments/menu::menu}" />
    <div class="container">
        <h3 style="margin-top:20px;margin-bottom:20px">Company RestAPI</h3>
        <h5>Możliwości, ktore mozesz wykonac na tej stronie:</h5>
        <p>Dodawanie nowego pracownika ( imię, nazwisko, stanowisko, adres email)
        <p>Zwracanie listy wszystkich pracowników z możliwością filtrowania po adresie email, imieniu, nazwisku
        <p>Zwracanie listy wszystkich stanowisk razem z ilością pracowników przypisanych do nich
        <p>Usuwanie danego pracownika z listy
    </div>
    </div>
</body>

</html>