<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:insert="~{fragments/header :: header}"></div>
<body>
<div class="container">
    <h3 style="margin-top:20px;margin-bottom:20px">Company RestAPI</h3>
    <div class="row">
        <div class="col-md-9">
            <table class="table table-bordered" id="persons">
                <tr>
                    <td>Imie</td>
                    <td>Nazwisko</td>
                    <td>Email</td>
                    <td>Stanowisko</td>
                    <td>Usun</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">

   var table = document.getElementById('persons');
   function init() {
       $.ajax({
            type: "GET",
            url : "http://localhost:8082/api/persons",
            contentType: "application/json",
            success: function(result){
                console.log(result);
                createTable(result);
            },
            error: function(result){
                alert('error');
            }
        });
    }

    function createTable(result){
        for (var i = 1; i < result.length; i++){

            var row = table.insertRow(i);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);

            cell1.innerHTML = result[i].name;
            cell2.innerHTML = result[i].surname;
            cell3.innerHTML = result[i].email;
            cell4.innerHTML = result[i].positionName;
            cell5.innerHTML = "<button type='button' class='btn' onclick=\"usun(\'"+result[i].name+"\')\">Del</button>";
        }
    }

    function usun(name){
        console.log('usuwam:'+ name);
        table.deleteRow(1);
        //init();
    }

    window.onload = init;
</script>
</body>
</html>
